.audit-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.audit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.audit-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.audit-answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.audit-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    gap: 1rem;
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}