
.Home4thSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: var(--primary-color);
	margin-top: 15px;
}

.CIEItem {
	display: flex;
	background-color: var(--white);
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 22%;
	margin: 2%;
	height: 300px;
	padding: 0  10px 20px;
	border-radius: 15px;
}

.CIEItem h3 {
	color:var(--primary-color);
}

.CIEItem p {
	margin: 10px 0;
	font-size: 15px;
	text-align: center;
}

.CIEItemMore {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 150px;
	height: 40px;
	background-color: var(--primary-color);
	color: var(--white);
	font-size: 20px;
	font-weight: 900;
	border-radius: 18px;
	cursor: pointer;
	background-color: var(--secondary-color);
}

.Home5thSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 15px;
}

.HomeContactUs {
	background-color: var(--primary-color);
	width: 60%;
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HomeContactUsHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 70%;
}

.HomeContactUs h2 {
	color: var(--white);
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.HomeContactUsRadios {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 35%;
	color: var(--white);
}

.HomeContactUsRadios div input {
	margin-left: 5px;
}

.HomeContactUsInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.HomeContactUsInputs input{
	width: 100%;
	height: 40px;
	margin: 10px 0;
	padding: 0 10px;
	border: none;
	color: var(--primary-color);
}

.HomeContactUsInputs .email_and_phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.HomeContactUsInputs .email_and_phone input {
	width: 48%;
	height: 40px;
	margin: 10px 0;
	padding: 0 10px;
	border: none;
	color: var(--primary-color);
}

.HomeContactUsInputs #name {
	border-radius: 10px 10px 0 0;
}

.HomeContactUsInputs textarea {
	width: 100%;
	height: 100px;
	margin: 10px 0;
	padding: 10px;
	border: none;
	border-radius: 0 0 10px 10px;
	color: var(--primary-color);
}

.HomeContactUsSubmit {
	display: flex;
	justify-content: end;
	width: 70%;
}

.HomeContactUsSubmit button {
	/* width: 150px;
	height: 40px; */
	all: unset; 
	background-color: var(--secondary-color);
	padding: 10px;
	border-radius: 0 0 10px 10px !important;
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 900;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

.Home6thSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 15px;
}

.Home6thSection h2 {
	color: var(--primary-color);
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.Home6thSectionLogos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin-top: 2%;
}