
.info_center {
	display: flex;
	/* gap: 15px; */
	width: 50%;
	margin-top: 7px;
	font-size: 20px;
	background-color: var(--primary-color);
	justify-content: space-between;
	color: var(--white);
}
.info_center {
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.info-cards {
	display: flex;
	z-index: 2;
	justify-content: center;
}

.info-card h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.info-card p {
  font-size: 1rem;
}