.Introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 15px;
}

.Introduction h1 {
	color: var(--primary-color);
	font-size: var(--text-3xl);
	font-weight: 900;
	line-height: 1.3;
}

.IntroductionMain {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 2%;
}

.IntroductionMainLeft {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: center;
}

.IntroductionMainLeft p {
	font-size: var(--text-2xl);
	font-weight: 700;
	line-height: 1.6;
	/* color: var(--primary-color); */
}

@media (max-width: 768px) {
	.IntroductionMainLeft p {
		font-size: var(--text-xl);
	}
}
