@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); /* inter font */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
	/* main colors */
	--primary-color: #073567;
	--background-color: #E9F1FA;
	--secondary-color: #D1D600;
	--white: #FFFEFF;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}



@layer base {
	html {
	  font-family: 'Inter', system-ui, sans-serif;
	}
  } 